<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.source-code</string>
				<string>public.xml</string>
                <string>com.apple.property-list</string>
                <string>org.tug.tex</string>
                <string>public.css</string>  <!-- Not official, but expected -->
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
        <string>org.n8gray.qlcolorcode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
    <key>CFBundleShortVersionString</key>
    <string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>C044543D-70A1-46D8-A908-4B8AEA1197A4</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>C044543D-70A1-46D8-A908-4B8AEA1197A4</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
    <!-- Change following property to <true/> if the generators supports
         multiple concurrent requests -->
    <key>QLSupportsConcurrentRequests</key>
    <true/>
    <!-- Change following property to <true/> if the generators needs
         to be run on main thread -->
    <key>QLNeedsToBeRunInMainThread</key>
    <false/>
    <!-- Change following property to indicate the minimum useful size for a thumbnail the generator
     can produce. If your generator is fast enough, you can remove the minimum size so to appear in lists -->
    <key>QLThumbnailMinimumSize</key>
    <real>32</real>
    <!-- Change following properites to indicate the preview size to use if preview generation takes too long -->
    <key>QLPreviewWidth</key>
    <real>800</real>
    <key>QLPreviewHeight</key>
    <real>800</real>
    
    <!-- For this plugin to be invoked, Launch Services has to understand that 
         a given file is "source-code".  For things like .c and .m files that's
         not a problem; they're in the system already.  But for .ml files 
         we have to inform the system ourselves.  If there is a file type that
         is supported by pygments but this plugin is not being called to 
         quicklook it, try adding a type identifier for it below. -->
    <key>UTImportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.ocaml.ocaml-source</string>
                <key>UTTypeReferenceURL</key>
                <string>http://www.ocaml.org/</string>
                <key>UTTypeDescription</key>
                <string>OCaml Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>ml</string>
                        <string>mll</string>
                        <string>mly</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.ocaml.ocaml-interface</string>
                <key>UTTypeReferenceURL</key>
                <string>http://www.ocaml.org/</string>
                <key>UTTypeDescription</key>
                <string>OCaml Interface File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>mli</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.haskell.haskell-source</string>
                <key>UTTypeReferenceURL</key>
                <string>http://www.haskell.org/</string>
                <key>UTTypeDescription</key>
                <string>Haskell Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>hs</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.haskell.literate-haskell-source</string>
                <key>UTTypeReferenceURL</key>
                <string>http://www.haskell.org/</string>
                <key>UTTypeDescription</key>
                <string>Literate Haskell Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>lhs</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.n8gray.scheme-source</string>
                <key>UTTypeDescription</key>
                <string>scheme Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>scm</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.n8gray.ini-source</string>
                <key>UTTypeDescription</key>
                <string>.ini Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>ini</string>
                    </array>
                    <key>public.mime-type</key>
                    <string>text/x-ini</string>
                </dict>
            </dict>
            <!-- This is from TexShop.  I don't know if I agree with it, but they're
                 a bigger fish as far as TeX is concerned... -->
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.text</string>
                </array>
                <key>UTTypeDescription</key>
                <string>TeX text file</string>
                <key>UTTypeIdentifier</key>
                <string>org.tug.tex</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>com.apple.ostype</key>
                    <string>TEXT</string>
                    <key>public.filename-extension</key>
                    <array>
                        <string>tex</string>
                        <string>latex</string>
                        <string>ltx</string>
                        <string>texi</string>
                        <string>ctx</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.erlang.erlang-source</string>
                <key>UTTypeDescription</key>
                <string>Erlang Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>erl</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.n8gray.standard-ml-source</string>
                <key>UTTypeDescription</key>
                <string>Standard ML Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>sml</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.n8gray.structured-query-language-source</string>
                <key>UTTypeDescription</key>
                <string>SQL Source File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>sql</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.n8gray.diff-script</string>
                <key>UTTypeDescription</key>
                <string>Diff File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.script</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>diff</string>
                        <string>patch</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>public.css</string>
                <key>UTTypeDescription</key>
                <string>CSS File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <!-- On the advice of Julien Jalon at Apple -->
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>css</string>
                    </array>
                </dict>
            </dict>
            <!-- This is for testing the behavior when highlight fails -->
            <dict>
                <key>UTTypeIdentifier</key>
                <string>org.n8gray.bogusextension</string>
                <key>UTTypeDescription</key>
                <string>QLColorCode Test File</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>bogus_extension</string>
                    </array>
                </dict>
            </dict>

        </array>
</dict>
</plist>
